<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alma's web</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
</head>
<body>
        <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/post">Post</a></li>
  <li><a class="active" href="/signout">About</a></li>
  <li><a href="/mypost">My posts</a></li>
  <li><a href="/signout">Sign out</a></li>
</ul>
<div style="padding:1px 16px;height:1000px;">
    <center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1FPmsHSINLhCUXkC2B-TfhLyWOlFZcxEIqczrmvsCoBrRpZahtzeu4w9TtubkETgUGHo&usqp=CAU" width="500" height="300"></center>
    <p style="font-size:30px">Discover your next adventure! 🌍✈️ Join our travel community, where people share their favorite places to visit. Explore interactive maps, find stunning photos, and get tips from fellow travelers. Connect, inspire, and plan your dream trip together. Start exploring now! 🗺️🌏</p>
    </div>
</body>
</html>